<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A checkout form made using Sandbox">
    <title>Checkout | Sandbox Examples</title>
    <link rel="stylesheet" href="../css/sandbox-min.css" type="text/css">
</head>
<body>
    <div class="navbar flex between primary cross-center">
        <div class="navbar-item">
            <p class="h3 fw-lighter">Brand Name</p>
        </div>
        <div class="navbar-item">
            <button class="button r-round light">Keep Shopping</button>
        </div>
    </div>
    <div class="p-4">
        <h1>Checkout Form</h1>
        <hr class="mb-2">
        <div class="grid">
            <div class="unit-8"></div>
            <div class="unit-4">
                <h3 class="mb-1">Items <span class="tag r-round">3</span></h3>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-items">
                            <li class="list-item">
                                <p>Item Name</p>
                                <p class="text-muted h5">#000-00-00</p>
                                <p>Qty: <span class="to-right">2</span></p>
                                <p>Price Per Unit: <span class="to-right">4.99</span></p>
                                <p><strong>subtotal: <span class="to-right">9.98</span></strong></p>
                            </li>
                            <li class="list-item">
                                <p>Item Name <span class="tag info">Sale Item</span></p>
                                <p class="text-muted h5">#000-00-00</p>
                                <p>Qty: <span class="to-right">2</span></p>
                                <p>Price Per Unit: <span class="to-right">1.99</span></p>
                                <p><strong>subtotal: <span class="to-right">3.98</span></strong></p>
                            </li>
                            <li class="list-item">
                                <p>Item Name</p>
                                <p class="text-muted h5">#000-00-00</p>
                                <p>Qty: <span class="to-right">2</span></p>
                                <p>Price Per Unit: <span class="to-right">4.99</span></p>
                                <p><strong>subtotal: <span class="to-right">9.98</span></strong></p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer bt">
                        <p class="text-muted h5 mb-1">Shipping: <span class="to-right">2.99</span></p>
                        <p><strong>Total: <span class="to-right">26.93</span></strong></p>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>