<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An example admin dashboard made using Sandbox">
    <title>Dashboard | Sandbox Examples</title>
    <link rel="stylesheet" href="../css/sandbox-min.css" type="text/css">
</head>
<body>
    <div class="grid m-0">
        <div class="unit-2 dark h-1-vh">
            <ul class="tabs vertical indent-nested solid">
                <li class="tab">
                    <div class="tab-item">
                        <h2>Brand</h2>
                    </div>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Dashboard</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Users</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Orders<span class="tag ml-1">4</span></a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Forms</a>
                    <ul class="tabs vertical">
                        <li class="tab">
                            <a href="" class="tab-a">Payment</a>
                        </li>
                        <li class="tab">
                            <a href="" class="tab-a">Refund</a>
                        </li>
                        <li class="tab">
                            <a href="" class="tab-a">Add Funds</a>
                        </li>
                        <li class="tab">
                            <a href="" class="tab-a">Give Credit</a>
                        </li>
                    </ul>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Finance</a>
                </li>
            </ul>
        </div>
        <div class="unit-10 p-0 h-1-vh oy-auto">
            <nav class="navbar flex between cross-center">
                <div class="ml-1">
                    <h2 class="h4 text-muted">Hello, Firstname</h2>
                </div>
                <div>
                    <button class="button light h5">Sign Out</button>
                </div>
            </nav>
            <div class="p-1">
                <h1 class="lh-1">Day of Week</h1>
                <p class="h5 text-muted">month, year</p>
                <hr class="my-1">
                <div class="grid">
                    <div class="unit-3">
                        <div class="card mb-1">
                            <div class="card-body">
                                <ul class="list-items h6">
                                    <li class="list-item">
                                        <button class="close to-right"></button>
                                        <h4 class="lh-1">Todo Title</h4>
                                        <h6 class="text-muted">mm/dd/yyyy</h6>
                                        <p class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, inventore.</p>
                                    </li>
                                    <li class="list-item">
                                        <button class="close to-right"></button>
                                        <h4 class="lh-1">Todo Title</h4>
                                        <h6 class="text-muted">mm/dd/yyyy</h6>
                                        <p class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, inventore.</p>
                                    </li>
                                    <li class="list-item">
                                        <button class="close to-right"></button>
                                        <h4 class="lh-1">Todo Title</h4>
                                        <h6 class="text-muted">mm/dd/yyyy</h6>
                                        <p class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, inventore.</p>
                                    </li>
                                    <li class="list-item text-center">
                                        <a href="" class="button wide h6">more</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-half">New Todo</h4>
                                <input type="text" placeholder="Title" class="textbox h5 mb-half">
                                <textarea class="textbox h5 mb-half no-resize" placeholder="description"></textarea>
                                <button class="button h5">add</button>
                            </div>
                        </div>
                    </div>
                    <div class="unit-9">
                        <div class="grid">
                            <div class="unit-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="flex between cross-center">
                                            <h4>Monthly Goal</h4>
                                            <p class="text-muted h5">35k/50k</p>
                                        </div>
                                        <div class="progress h6">
                                            <div class="progress-bar info" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="flex between cross-center">
                                            <h4>Monthly Budget</h4>
                                            <p class="text-muted h5">10k/25k</p>
                                        </div>
                                        <div class="progress h6">
                                            <div class="progress-bar danger" style="width: 40%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="flex between cross-center">
                                            <h4>Resources</h4>
                                            <p class="text-muted h5">50/100</p>
                                        </div>
                                        <div class="progress h6">
                                            <div class="progress-bar primary" style="width: 50%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul class="tabs border-bottomless">
                                <li class="tab is-active">
                                    <a href="" class="tab-a">Main</a>
                                </li>
                                <li class="tab">
                                    <a href="" class="tab-a">Second</a>
                                </li>
                                <li class="tab">
                                    <a href="" class="tab-a">Third</a>
                                </li>
                            </ul>
                            <table class="table border-bottoms h5 no-background mb-half">
                                <thead>
                                    <tr>
                                        <th>Header</th>
                                        <th>Header</th>
                                        <th>Header</th>
                                        <th>Header</th>
                                        <th>Header</th>
                                    </tr>
                                </thead>
                                <tbody class="striped-even">
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                    <tr>
                                        <td><a href="" class="a">#000</a></td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td>Lorem ipsum</td>
                                        <td><button class="button wide h5">action</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>