<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Landing | Sandbox Examples</title>
        <link rel="stylesheet" href="../css/sandbox-min.css" type="text/css">
    </head>
    <body>
        <nav class="navbar dark flex between cross-center">
            <div>
                <a href="" class="navbar-item">Home</a>
                <a href="" class="navbar-item">About</a>
            </div>
            <div>
                <div class="navbar-item">
                    <button class="button">Download</button>
                </div>
            </div>
        </nav>
        <div class="p-4 text-center bb">
            <h1 class="mt-4">Product Name</h1>
            <h4 class="text-muted">Short and catchy product slogan here.</h4>
            <button class="button primary h5 outlined mt-3 mb-4">Call to Action</button>
            <button class="button h5 outlined mt-3 mb-4">Second Call to Action</button>
        </div>
        <div class="flex grid cross-stretch m-0">
            <div class="unit-12-sm unit-6 light p-4 relative">
                <h2 class="text-muted absolute center-center">attention grabber</h2>
            </div>
            <div class="unit-12-sm unit-6 p-3">
                <h2 class="mb-half">Usage Summary</h2>
                <p class="text-muted mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur tenetur, nisi mollitia, eius perferendis unde voluptatem architecto ipsa dolorum hic odio, fugiat veritatis quod.</p>
                <p class="text-muted mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit unde ullam dolorem minima earum repudiandae natus vero asperiores laborum iste eos, voluptatum dolor vitae corrupti!</p>
            </div>
        </div>
        <div class="flex grid cross-stretch m-0">
            <div class="unit-12-sm unit-6 p-3">
                <h2 class="mb-half">Feel good statement</h2>
                <p class="text-muted mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur tenetur, nisi mollitia, eius perferendis unde voluptatem architecto ipsa dolorum hic odio, fugiat veritatis quod.</p>
                <p class="text-muted mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit unde ullam dolorem minima earum repudiandae natus vero asperiores laborum iste eos, voluptatum dolor vitae corrupti!</p>
            </div>
            <div class="unit-12-sm unit-6 light p-4 relative">
                <h2 class="text-muted absolute center-center">attention grabber</h2>
            </div>
        </div>
        <div class="p-3">
            <div class="grid">
                <div class="unit-12-sm unit-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <figure class="squared x4 light r-round block mx-auto mb-half"></figure>
                            <h5 class="text-muted mb-2">First Lastname</h5>
                            <p class="mb-1">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae velit, minima debitis eos ut, accusamus esse, voluptas, quibusdam perspiciatis suscipit deserunt soluta libero excepturi quisquam."</p>
                            <h5 class="text-muted">- Job Title</h5>
                        </div>
                    </div>
                </div>
                <div class="unit-12-sm unit-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <figure class="squared x4 light r-round block mx-auto mb-half"></figure>
                            <h5 class="text-muted mb-2">First Lastname</h5>
                            <p class="mb-1">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae velit, minima debitis eos ut, accusamus esse, voluptas, quibusdam perspiciatis suscipit deserunt soluta libero excepturi quisquam."</p>
                            <h5 class="text-muted">- Job Title</h5>
                        </div>
                    </div>
                </div>
                <div class="unit-12-sm unit-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <figure class="squared x4 light r-round block mx-auto mb-half"></figure>
                            <h5 class="text-muted mb-2">First Lastname</h5>
                            <p class="mb-1">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae velit, minima debitis eos ut, accusamus esse, voluptas, quibusdam perspiciatis suscipit deserunt soluta libero excepturi quisquam."</p>
                            <h5 class="text-muted">- Job Title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="dark p-3">
             <h3>Product Name</h3>
        </footer>



    </body>
</html>