<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pricing | Sandbox Examples</title>
        <link rel="stylesheet" href="../css/sandbox-min.css" type="text/css">
    </head>
    <body>
        <nav class="navbar flex between cross-center">
            <div>
                <a href="" class="navbar-item">Home</a>
                <a href="" class="navbar-item">About</a>
                <a href="" class="navbar-item is-active">Pricing</a>
            </div>
            <div>
                <div class="navbar-item">
                    <button class="button dark outlined">Redeem</button>
                </div>
            </div>
        </nav>
        <div class="p-4">
            <h1 class="text-center">Pricing Tiers</h1>
            <h4 class="text-muted text-center mb-2">Overall description. Lorem ipsum dolor sit amet, consectetur </br>adipisicing elit. Tempore obcaecati amet vel ipsum, corporis. </br>Aut sapiente eum dolores, id reiciendis.</h4>
            <div class="grid">
                <div class="unit-12-sm unit-4">
                    <div class="card">
                        <div class="card-header light">
                            <h3 class="text-center">Free</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="text-center mb-1">$0<span class="text-muted">/month</span></h2>
                            <ul class="ul mb-1">
                                <li>Storage<span class="to-right">10 units</span></li>
                                <li>Speed<span class="to-right">slow</span></li>
                                <li>Support<span class="to-right">none</span></li>
                                <li>Discount<span class="to-right">none</span></li>
                            </ul>
                            <button class="button wide primary">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="unit-12-sm unit-4">
                    <div class="card">
                        <div class="card-header light">
                            <h3 class="text-center">Student</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="text-center mb-1">$15<span class="text-muted">/month</span></h2>
                            <ul class="ul mb-1">
                                <li>Storage<span class="to-right">15 units</span></li>
                                <li>Speed<span class="to-right">slow</span></li>
                                <li>Support<span class="to-right">yes</span></li>
                                <li>Discount<span class="to-right">$1</span></li>
                            </ul>
                            <button class="button wide primary">Purchase</button>
                        </div>
                    </div>
                </div>
                <div class="unit-12-sm unit-4">
                    <div class="card">
                        <div class="card-header light">
                            <h3 class="text-center">Professional</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="text-center mb-1">$50<span class="text-muted">/month</span></h2>
                            <ul class="ul mb-1">
                                <li>Storage<span class="to-right">100 units</span></li>
                                <li>Speed<span class="to-right">fastest</span></li>
                                <li>Support<span class="to-right">24/7</span></li>
                                <li>Discount<span class="to-right">$5</span></li>
                            </ul>
                            <button class="button wide primary">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="w-1-2 mx-auto mt-4">
            <h4 class="text-center mt-1">Product Name</h4>
        </div>
    </body>
</html>